.token.pre.gfm *,
.prism * {
  font-weight: inherit !important; }

.token.pre.gfm .token.comment,
.token.pre.gfm .token.prolog,
.token.pre.gfm .token.doctype,
.token.pre.gfm .token.cdata,
.prism .token.comment,
.prism .token.prolog,
.prism .token.doctype,
.prism .token.cdata {
  color: #708090; }

.token.pre.gfm .token.punctuation,
.prism .token.punctuation {
  color: #999; }

.token.pre.gfm .namespace,
.prism .namespace {
  opacity: .7; }

.token.pre.gfm .token.property,
.token.pre.gfm .token.tag,
.token.pre.gfm .token.boolean,
.token.pre.gfm .token.number,
.token.pre.gfm .token.constant,
.token.pre.gfm .token.symbol,
.token.pre.gfm .token.deleted,
.prism .token.property,
.prism .token.tag,
.prism .token.boolean,
.prism .token.number,
.prism .token.constant,
.prism .token.symbol,
.prism .token.deleted {
  color: #905; }

.token.pre.gfm .token.selector,
.token.pre.gfm .token.attr-name,
.token.pre.gfm .token.string,
.token.pre.gfm .token.char,
.token.pre.gfm .token.builtin,
.token.pre.gfm .token.inserted,
.prism .token.selector,
.prism .token.attr-name,
.prism .token.string,
.prism .token.char,
.prism .token.builtin,
.prism .token.inserted {
  color: #690; }

.token.pre.gfm .token.operator,
.token.pre.gfm .token.entity,
.token.pre.gfm .token.url,
.token.pre.gfm .language-css .token.string,
.token.pre.gfm .style .token.string,
.prism .token.operator,
.prism .token.entity,
.prism .token.url,
.prism .language-css .token.string,
.prism .style .token.string {
  color: #a67f59; }

.token.pre.gfm .token.atrule,
.token.pre.gfm .token.attr-value,
.token.pre.gfm .token.keyword,
.prism .token.atrule,
.prism .token.attr-value,
.prism .token.keyword {
  color: #07a; }

.token.pre.gfm .token.function,
.prism .token.function {
  color: #dd4a68; }

.token.pre.gfm .token.regex,
.token.pre.gfm .token.important,
.token.pre.gfm .token.variable,
.prism .token.regex,
.prism .token.important,
.prism .token.variable {
  color: #e90; }

.token.pre.gfm .token.important,
.token.pre.gfm .token.bold,
.prism .token.important,
.prism .token.bold {
  font-weight: 500; }

.token.pre.gfm .token.italic,
.prism .token.italic {
  font-style: italic; }

@font-face {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  src: url("assets/icons/fonts/icomoon.woff") format("woff"); }

@font-face {
  font-family: 'Office Code Pro';
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/OfficeCodePro-Light.woff") format("woff"); }

@font-face {
  font-family: 'Office Code Pro';
  font-style: italic;
  font-weight: 300;
  src: url("assets/fonts/OfficeCodePro-LightItalic.woff") format("woff"); }

@font-face {
  font-family: 'Office Code Pro';
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/OfficeCodePro-Medium.woff") format("woff"); }

@font-face {
  font-family: 'Office Code Pro';
  font-style: italic;
  font-weight: 500;
  src: url("assets/fonts/OfficeCodePro-MediumItalic.woff") format("woff"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/Roboto-Light.woff") format("woff"); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url("assets/fonts/Roboto-LightItalic.woff") format("woff"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/Roboto-Medium.woff") format("woff"); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url("assets/fonts/Roboto-MediumItalic.woff") format("woff"); }

html {
  font-family: Roboto, sans-serif;
  font-weight: 300; }

html,
body {
  color: rgba(0, 0, 0, 0.87);
  font-variant-ligatures: common-ligatures;
  line-height: 1.5;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto; }

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
th,
dt {
  font-weight: 500; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl {
  margin: 1.2em 0; }

ol ul,
ul ol,
ul ul,
ol ol {
  margin: 0; }

a {
  color: #316ed3; }

code,
kbd,
pre,
samp {
  font-family: "Office Code Pro", monospace;
  font-size: 0.9em; }
  code *,
  kbd *,
  pre *,
  samp * {
    font-size: inherit; }

blockquote {
  border-left: 5px solid #eee;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 0;
  padding-left: 2em; }

code {
  background-color: #eee;
  border-radius: 4px;
  padding: 2px 4px; }

hr {
  border: 0;
  border-top: 1px solid rgba(128, 128, 128, 0.15);
  margin: 2em 0; }

pre > code {
  background-color: rgba(0, 0, 0, 0.02);
  border: 1px solid rgba(0, 0, 0, 0.04);
  display: block;
  overflow-x: auto;
  padding: .5em;
  -webkit-text-size-adjust: none; }

.toc ul {
  list-style-type: none;
  padding-left: 20px; }

table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 8px 12px; }

td {
  border-top: 1px solid rgba(0, 0, 0, 0.05); }

kbd {
  background-color: #fff;
  border: 1px solid rgba(63, 63, 63, 0.25);
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(63, 63, 63, 0.25);
  color: #333;
  display: inline-block;
  font-size: .7em;
  margin: 0 .1em;
  padding: .1em .6em;
  white-space: nowrap; }

abbr[title] {
  border-bottom: 1px dotted #777;
  cursor: help; }

.footnote {
  font-size: .8em;
  position: relative;
  top: -.25em;
  vertical-align: top; }

.export-container {
  margin-bottom: 180px;
  margin-left: auto;
  margin-right: auto; }
  .export-container > :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    text-align: justify; }

@media (min-width: 768px) {
  .export-container {
    width: 750px; } }

/*# sourceMappingURL=base-min.css.map */
